#para{ color: royalblue; font-size: 30px ; }
h1{width: 100%;
    height: 450px;
    padding: 50px;
    background-image: url("C:/Users/hp/Desktop/CheckPoint2/res/1000.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 87px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .5);  
    box-sizing: border-box;}h1{color:black;  font-size: 180px ;  padding-top: 50px}
#b1{color: palevioletred}#b2{ color: palevioletred}#b3{color: palevioletred}
 #b4{color: palevioletred} #b5{ color: palevioletred }#b7{color: palevioletred } #b6{ color: palevioletred}
